@import './color-picker/color.css';

@layer components {
  .mgnp-color-area {
    @apply relative;
    background: var(--ngp-color-area-background);
    @apply w-full h-40;
    @apply rounded-lg shadow-xs;
    @apply touch-none select-none;
  }

  .mgnp-color-area-thumb {
    @apply mgnp-base mgnp-focus;
    @apply absolute;
    @apply bg-transparent;
    @apply size-4;
    @apply border-2 rounded-full shadow-sm;
    @apply transform-[translate(-50%,-50%)];

    ::before {
      @apply content-none;
      @apply absolute top-1/2 left-1/2;
      @apply size-11;
    }

    @apply not-data-mgnp-color-area-thumb-color:mgnp-color-area-thumb-color-ui;
    @apply data-[mgnp-color-area-thumb-color=ui]:mgnp-color-area-thumb-color-ui;
    @apply data-[mgnp-color-area-thumb-color=primary]:mgnp-color-area-thumb-color-primary;
    @apply data-[mgnp-color-area-thumb-color=accent]:mgnp-color-area-thumb-color-accent;
    @apply data-[mgnp-color-area-thumb-color=info]:mgnp-color-area-thumb-color-info;
    @apply data-[mgnp-color-area-thumb-color=success]:mgnp-color-area-thumb-color-success;
    @apply data-[mgnp-color-area-thumb-color=warning]:mgnp-color-area-thumb-color-warning;
    @apply data-[mgnp-color-area-thumb-color=danger]:mgnp-color-area-thumb-color-danger;
  }

  .mgnp-color-field {
    @apply mgnp-base mgnp-focus;
    @apply block;
    @apply w-full;
    @apply py-2 px-4;
    @apply border rounded-lg;

    @apply not-data-mgnp-color-field-color:mgnp-color-field-color-ui;
    @apply data-[mgnp-color-field-color=ui]:mgnp-color-field-color-ui;
    @apply data-[mgnp-color-field-color=primary]:mgnp-color-field-color-primary;
    @apply data-[mgnp-color-field-color=accent]:mgnp-color-field-color-accent;
    @apply data-[mgnp-color-field-color=info]:mgnp-color-field-color-info;
    @apply data-[mgnp-color-field-color=success]:mgnp-color-field-color-success;
    @apply data-[mgnp-color-field-color=warning]:mgnp-color-field-color-warning;
    @apply data-[mgnp-color-field-color=danger]:mgnp-color-field-color-danger;
  }

  .mgnp-color-picker {
    @apply mgnp-base mgnp-color-picker-color;
    @apply flex flex-col gap-3 items-center;
    @apply w-full max-w-60;
    @apply p-3;
    @apply rounded-lg;
  }

  .mgnp-color-slider {
    @apply mgnp-base;
    @apply relative;
    @apply w-full h-4;
    @apply touch-none select-none;
  }

  .mgnp-color-slider-thumb {
    @apply mgnp-base mgnp-focus;
    @apply absolute top-1/2;
    @apply bg-transparent;
    @apply size-4;
    @apply border-2 rounded-full shadow-sm;
    @apply transform-[translate(-50%,-50%)];

    ::before {
      @apply content-none;
      @apply absolute top-1/2 left-1/2;
      @apply size-11;
    }

    @apply not-data-mgnp-color-slider-thumb-color:mgnp-color-slider-thumb-color-ui;
    @apply data-[mgnp-color-slider-thumb-color=ui]:mgnp-color-slider-thumb-color-ui;
    @apply data-[mgnp-color-slider-thumb-color=primary]:mgnp-color-slider-thumb-color-primary;
    @apply data-[mgnp-color-slider-thumb-color=accent]:mgnp-color-slider-thumb-color-accent;
    @apply data-[mgnp-color-slider-thumb-color=info]:mgnp-color-slider-thumb-color-info;
    @apply data-[mgnp-color-slider-thumb-color=success]:mgnp-color-slider-thumb-color-success;
    @apply data-[mgnp-color-slider-thumb-color=warning]:mgnp-color-slider-thumb-color-warning;
    @apply data-[mgnp-color-slider-thumb-color=danger]:mgnp-color-slider-thumb-color-danger;
  }

  .mgnp-color-slider-track {
    @apply absolute;
    background: var(--ngp-color-slider-background);
    @apply inset-0;
    @apply rounded-full;
    @apply inset-shadow-sm;
  }

  .mgnp-color-swatch {
    @apply shrink-0 size-8.5;
    background: var(--ngp-color-swatch-color);
    @apply rounded-lg;
    @apply shadow-md;
  }

  .mgnp-color-swatch-picker {
    @apply mgnp-base;
    @apply flex flex-wrap gap-3 items-center justify-center;
    @apply w-full max-w-60;
    @apply p-3;
    @apply rounded-lg;

    @variant data-[orientation=horizontal] {
      @apply flex-row;
    }

    @variant data-[orientation=vertical] {
      @apply flex-col;
    }
  }

  .mgnp-color-swatch-picker-item {
    @apply motion-safe:transition-[scale,border-color];
    @apply shrink-0 size-8.5;
    background: var(--ngp-color-swatch-color);
    @apply rounded-lg;
    @apply shadow-md;
    @apply cursor-pointer;

    @variant data-selected {
      @apply border-2 border-ui;
      @apply scale-98;
    }
  }

  .mgnp-color-wheel {
    @apply relative;
    background: var(--ngp-color-wheel-background);
    @apply w-45 h-auto aspect-square;
    @apply rounded-full shadow-xs;
    @apply touch-none select-none;

    mask: radial-gradient(
      farthest-side,
      transparent calc(100% - --spacing(6.5)),
      var(--background-color-ui) calc(100% - --spacing(6.5))
    );
  }

  .mgnp-color-wheel-thumb {
    @apply mgnp-focus;
    @apply absolute top-1/2 left-1/2;
    @apply bg-transparent;
    @apply size-4.5 -m-2.25;
    @apply border-2 rounded-full shadow-sm;
    @apply transform-[rotate(var(--ngp-color-wheel-hue))_translateY(--spacing(-19.25))];

    ::before {
      @apply content-none;
      @apply absolute top-1/2 left-1/2;
      @apply size-11;
      @apply transform-[translate(-50%,-50%)];
    }

    @apply not-data-mgnp-color-wheel-thumb-color:mgnp-color-wheel-thumb-color-ui;
    @apply data-[mgnp-color-wheel-thumb-color=ui]:mgnp-color-wheel-thumb-color-ui;
    @apply data-[mgnp-color-wheel-thumb-color=primary]:mgnp-color-wheel-thumb-color-primary;
    @apply data-[mgnp-color-wheel-thumb-color=accent]:mgnp-color-wheel-thumb-color-accent;
    @apply data-[mgnp-color-wheel-thumb-color=info]:mgnp-color-wheel-thumb-color-info;
    @apply data-[mgnp-color-wheel-thumb-color=success]:mgnp-color-wheel-thumb-color-success;
    @apply data-[mgnp-color-wheel-thumb-color=warning]:mgnp-color-wheel-thumb-color-warning;
    @apply data-[mgnp-color-wheel-thumb-color=danger]:mgnp-color-wheel-thumb-color-danger;
  }
}
