@import './pagination/color.css';

@layer components {
  .mgnp-pagination {
    @apply mgnp-base;

    ul {
      @apply mgnp-base;
      @apply flex items-center;
      @apply gap-2;
    }
  }

  .mgnp-pagination-button {
    all: unset;

    @apply mgnp-base mgnp-focus;
    @apply flex items-center justify-center;
    @apply cursor-pointer;
    @apply w-8 h-8;
    @apply rounded-lg;
    @apply text-sm font-medium;
    @apply shadow-md;

    @apply data-[mgnp-pagination-button-color=ui]:mgnp-pagination-button-color-ui;

    @variant data-disabled {
      @apply shadow-none;
      @apply cursor-default;
    }
  }

  .mgnp-pagination-first {
    all: unset;

    @apply mgnp-base mgnp-focus;
    @apply flex items-center justify-center;
    @apply cursor-pointer;
    @apply w-8 h-8;
    @apply rounded-lg;
    @apply text-sm font-medium;
    @apply shadow-md;

    @apply data-[mgnp-pagination-first-color=ui]:mgnp-pagination-first-color-ui;

    @variant data-disabled {
      @apply shadow-none;
      @apply cursor-default;
    }
  }

  .mgnp-pagination-last {
    all: unset;

    @apply mgnp-base mgnp-focus;
    @apply flex items-center justify-center;
    @apply cursor-pointer;
    @apply w-8 h-8;
    @apply rounded-lg;
    @apply text-sm font-medium;
    @apply shadow-md;

    @apply data-[mgnp-pagination-last-color=ui]:mgnp-pagination-last-color-ui;

    @variant data-disabled {
      @apply shadow-none;
      @apply cursor-default;
    }
  }

  .mgnp-pagination-previous {
    all: unset;

    @apply mgnp-base mgnp-focus;
    @apply flex items-center justify-center;
    @apply cursor-pointer;
    @apply w-8 h-8;
    @apply rounded-lg;
    @apply text-sm font-medium;
    @apply shadow-md;

    @apply data-[mgnp-pagination-previous-color=ui]:mgnp-pagination-previous-color-ui;

    @variant data-disabled {
      @apply shadow-none;
      @apply cursor-default;
    }
  }

  .mgnp-pagination-next {
    all: unset;

    @apply mgnp-base mgnp-focus;
    @apply flex items-center justify-center;
    @apply cursor-pointer;
    @apply w-8 h-8;
    @apply rounded-lg;
    @apply text-sm font-medium;
    @apply shadow-md;

    @apply data-[mgnp-pagination-next-color=ui]:mgnp-pagination-next-color-ui;

    @variant data-disabled {
      @apply shadow-none;
      @apply cursor-default;
    }
  }
}
