@theme {
  @keyframes mg-show {
    from {
      opacity: 0;
      transform: translateY(var(--mg-default-animation-translateY-origin)) scale(0.9);
    }
    to {
      opacity: 1;
      transform: translateY(var(--mg-default-animation-translateY-base)) scale(1);
    }
  }

  @keyframes mg-hide {
    from {
      opacity: 1;
      transform: translateY(var(--mg-default-animation-translateY-base)) scale(1);
    }
    to {
      opacity: 0;
      transform: translateY(var(--mg-default-animation-translateY-origin)) scale(0.9);
    }
  }

  @keyframes mg-slide-in {
    from {
      opacity: 0;
      transform: translateY(var(--mg-default-animation-translateY-origin));
    }
    to {
      opacity: 1;
      transform: translateY(var(--mg-default-animation-translateY-base));
    }
  }

  @keyframes mg-slide-out {
    from {
      opacity: 1;
      transform: translateY(var(--mg-default-animation-translateY-base));
    }
    to {
      opacity: 0;
      transform: translateY(var(--mg-default-animation-translateY-origin));
    }
  }

  @keyframes mg-fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes mg-fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

@theme {
  --animate-mg-show: mg-show var(--default-transition-duration)
    var(--default-transition-timing-function);
  --animate-mg-hide: mg-show var(--default-transition-duration)
    var(--default-transition-timing-function);

  --animate-mg-slide-in: mg-slide-in var(--default-transition-duration)
    var(--default-transition-timing-function);
  --animate-mg-slide-out: mg-slide-out var(--default-transition-duration)
    var(--default-transition-timing-function);

  --animate-mg-fade-in: mg-fade-in var(--default-transition-duration)
    var(--default-transition-timing-function);
  --animate-mg-fade-out: mg-fade-out var(--default-transition-duration)
    var(--default-transition-timing-function);
}
