@theme {
  @keyframes mg-show-x {
    from {
      opacity: 0;
      transform: translateX(var(--mg-show-origin, var(--mg-default-animation-translateX-origin)))
        scale(0.9);
    }
    to {
      opacity: 1;
      transform: translateX(var(--mg-show-base, var(--mg-default-animation-translateX-base)))
        scale(1);
    }
  }

  @keyframes mg-show-y {
    from {
      opacity: 0;
      transform: translateY(var(--mg-show-origin, var(--mg-default-animation-translateY-origin)))
        scale(0.9);
    }
    to {
      opacity: 1;
      transform: translateY(var(--mg-show-base, var(--mg-default-animation-translateY-base)))
        scale(1);
    }
  }

  @keyframes mg-hide-x {
    from {
      opacity: 1;
      transform: translateX(var(--mg-hide-origin, var(--mg-default-animation-translateX-base)))
        scale(1);
    }
    to {
      opacity: 0;
      transform: translateX(var(--mg-hide-base, var(--mg-default-animation-translateX-origin)))
        scale(0.9);
    }
  }

  @keyframes mg-hide-y {
    from {
      opacity: 1;
      transform: translateY(var(--mg-hide-origin, var(--mg-default-animation-translateY-base)))
        scale(1);
    }
    to {
      opacity: 0;
      transform: translateY(var(--mg-hide-base, var(--mg-default-animation-translateY-origin)))
        scale(0.9);
    }
  }

  @keyframes mg-fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes mg-fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

@theme {
  --animate-mg-show-x: mg-show-x var(--default-transition-duration)
    var(--default-transition-timing-function);
  --animate-mg-show-y: mg-show-y var(--default-transition-duration)
    var(--default-transition-timing-function);

  --animate-mg-hide-x: mg-hide-x var(--default-transition-duration)
    var(--default-transition-timing-function);
  --animate-mg-hide-y: mg-hide-y var(--default-transition-duration)
    var(--default-transition-timing-function);

  --animate-mg-fade-in: mg-fade-in var(--default-transition-duration)
    var(--default-transition-timing-function);
  --animate-mg-fade-out: mg-fade-out var(--default-transition-duration)
    var(--default-transition-timing-function);
}
