@import './_colors.css';
@import './_utilities.css';
@import './_animation.css';

@import './components/accordion.css';
@import './components/breadcrumb.css';
@import './components/button.css';
@import './components/checkbox.css';
@import './components/combobox.css';
@import './components/dialog.css';
@import './components/form-field.css';
@import './components/input.css';
@import './components/menu.css';
@import './components/pagination.css';
@import './components/switch.css';
@import './components/toast.css';
@import './components/tooltip.css';

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --mg-default-transition-duration: 250ms;
  --mg-default-transition-timing-function: var(--ease-in-out);

  --mg-default-animation-translateY-origin: --spacing(-2);
  --mg-default-animation-translateY-base: --spacing(0);
}

@theme {
  --default-transition-duration: var(--mg-default-transition-duration);
  --default-transition-timing-function: var(--mg-default-transition-timing-function);
}

@layer base {
  @variant dark {
    @apply scheme-dark;
  }

  @variant not-dark {
    @apply scheme-light;
  }
}
